<div id="cable_specs">
        
        <div class="prod__infos">
          <a href="#" class="prod__spec js__spec--control" id="prod__infostitle">Cable Specifications</a>
          <span class="prod__info" id="prod__infosdesc">* Some items will not render on cable</span>
        </div>
        
        <!-- 
        <div class="col50 left">
          <a href="#specs">Cable Specifications</a>
        </div>
        <div class="col50 right">
          <span>* Some items will not render on cable</span>
        </div>
		-->
        
        <div class="popup__wrapper">
          <a href="#" class="js__spec--control popup__close">Close</a>
          <div class="spec__wrapper">
            <div class="spec__column">
              <h3>XLR Technical Specifications:</h3>
             <ul>
               <li>XX Series</li>
               <li>Connection Type: XLR</li>
               <li>Gender: NC3MXX (male), NC3FXX (female)</li>
               <li>Electrical</li>
               <li>Capacitance between contacts: ≤ 4 pF</li>
               <li>Contact resistance: ≤ 3 mΩ</li>
               <li>Dielectric strength: 1,5 kVdc</li>
               <li>Insulation resistance: > 10 GΩ (initial)</li>
               <li>Rated current per contact: 16 A</li>
               <li>Rated voltage: < 50 V</li>
             </ul>
            </div>
            <div class="spec__column">
              <h3>XLR Technical Specifications:</h3>
             <ul>
               <li>XX Series</li>
               <li>Connection Type: XLR</li>
               <li>Gender: NC3MXX (male), NC3FXX (female)</li>
               <li>Electrical</li>
               <li>Capacitance between contacts: ≤ 4 pF</li>
               <li>Contact resistance: ≤ 3 mΩ</li>
               <li>Dielectric strength: 1,5 kVdc</li>
               <li>Insulation resistance: > 10 GΩ (initial)</li>
               <li>Rated current per contact: 16 A</li>
               <li>Rated voltage: < 50 V</li>
             </ul>
            </div>
            <div class="spec__column">
              <h3>XLR Technical Specifications:</h3>
             <ul>
               <li>XX Series</li>
               <li>Connection Type: XLR</li>
               <li>Gender: NC3MXX (male), NC3FXX (female)</li>
               <li>Electrical</li>
               <li>Capacitance between contacts: ≤ 4 pF</li>
               <li>Contact resistance: ≤ 3 mΩ</li>
               <li>Dielectric strength: 1,5 kVdc</li>
               <li>Insulation resistance: > 10 GΩ (initial)</li>
               <li>Rated current per contact: 16 A</li>
               <li>Rated voltage: < 50 V</li>
              </ul>
            </div>
          </div>
        </div>
        
        
      </div>