<div class="option option_select selected" id="techflex-sleeves">
            <h3>Braided Sleeve Colour</h3>
            <div class="input input_select input_colours input_colours_patterns">
              <ul class="input_select_ul" id="input_select_cable_sleeve">
                <li class="chooseable" data-chooseable="cancel" data-image="cancel"><a href="#no_sleeve"><span>No Sleeve</span></a></li>
          
                  <li data-variant-id="27747619635286" class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_aqua_blue" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/aqua-blue.png"><a href="#colour_aqua_blue"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="27747646341206" class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_beige" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/beige.png"><a href="#colour_beige"><i class="fas fa-check"></i></a></li>

<!--                 <li data-variant-id="27747749920854" class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_black_tight_weave" data-image="https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/braided_sleeve/black_tight_weave.jpg"><a href="#colour_black_tight_weave"><i class="fas fa-check"></i></a></li>
 -->
                <li data-variant-id="27747650273366"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_brown" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/brown.png"><a href="#colour_brown"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747761848406"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_rattlesnake" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/snake.png"><a href="#colour_rattlesnake"><i class="fas fa-check"></i></a></li>
 

                <li data-variant-id="27747612328022"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_checkered_flag" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/checkered-flag.png"><a href="#colour_checkered_flag"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747765977174"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_dark_purple" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/dark-purple.png"><a href="#colour_dark_purple"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747628482646"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_forrest_green" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/forest-green.png"><a href="#colour_forrest_green"><i class="fas fa-check"></i></a></li>

                <!--  <li data-variant-id="xxxxx"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_green_spyder" data-image="https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/braided_sleeve/green_spyder.jpg"><a href="#colour_green_spyder"><i class="fas fa-check"></i></a></li> -->

                <li data-variant-id="27747484303446"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_grey_w_white" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/gray-white-stripe.png"><a href="#colour_grey_w_white"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747675570262"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_grey" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/white.png"><a href="#colour_white"><i class="fas fa-check"></i></a></li>

<!--                 <li data-variant-id="xxxxx"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_groundwire" data-image="https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/braided_sleeve/groundwire.jpg"><a href="#colour_groundwire"><i class="fas fa-check"></i></a></li>
 -->
                <li data-variant-id="27747502129238"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_hiphop" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/hip-hop.png"><a href="#colour_hiphop"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747506028630"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_holiday" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/holiday.png"><a href="#colour_holiday"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747510485078"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_neon_pink" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/neon-pink.png"><a href="#colour_neon_pink"><i class="fas fa-check"></i></a></li>

<!--                 <li data-variant-id="xxxxx"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_nitrox" data-image="https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/braided_sleeve/nitrox.jpg"><a href="#colour_nitrox"><i class="fas fa-check"></i></a></li>
 -->
                <li data-variant-id="27747520282710"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_ogre_green" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/ogre.png"><a href="#colour_ogre"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747640868950"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_olive" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/olive-drab.png"><a href="#colour_olive"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747722657878"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_orange_spyder" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/orange-spyder.png"><a href="#colour_orange_spyder"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747697623126"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_orange_with_purple" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/orange-purple.png"><a href="#colour_orange_with_purple"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747686154326"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_orange" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/orange.png"><a href="#colour_orange"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747662200918"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_purple" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/purple.png"><a href="#colour_purple"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747734421590"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_red_spyder" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/red-spyder.png"><a href="#colour_red_spyder"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747545055318"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_safety_stripe" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/yellow-safety-stripe.png"><a href="#colour_safety_stripe"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747554590806"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_sherbert" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/sherbert.png"><a href="#colour_sherbert"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747562455126"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_twilight" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/twilight.png"><a href="#colour_twilight"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747567730774"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_uptown_gold" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/uptown-gold.png"><a href="#colour_uptown_gold"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747573497942"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_uptown_green" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/uptown-green.png"><a href="#colour_uptown_green"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747581067350"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_uptown_purple" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/uptown-purple.png"><a href="#colour_uptown_purple"><i class="fas fa-check"></i></a></li>

<!--                 <li data-variant-id="xxxxx"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_uptown_red" data-image="https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/braided_sleeve/uptown_red.jpg"><a href="#colour_uptown_red"><i class="fas fa-check"></i></a></li>
 -->
                <li data-variant-id="27747590602838"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_uptown_yellow" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/uptown-yellow.png"><a href="#colour_uptown_yellow"><i class="fas fa-check"></i></a></li>

                <li data-variant-id="27747705356374"  class="chooseable" data-multiply-by-length="true" data-chooseable="braided_sleeve_yellow_spyder" data-image="https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/braided_sleeve/version_2/black-yellow-tracer.png"><a href="#colour_yellow_spyder"><i class="fas fa-check"></i></a></li>

              </ul>
            </div>
          </div>