
.neutrik_connector_nc3mxx-b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mxx_b.png);
}

.neutrik_connector_nc3fxx-b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fxx_b.png);
}

.neutrik_connector_nc3mxx
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mxx.png);
}

.neutrik_connector_nc3fxx
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fxx.png);
}

.neutrik_connector_nc3mrx-b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mrx-b.png);
}

.neutrik_connector_nc3frx-b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3frx-b.png);
}

.neutrik_connector_nc3mrx
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mrx.png);
}

.neutrik_connector_nc3frx
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3frx.png);
}

.neutrik_connector_nc3mxx-emc
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mxx-emc.png);
}

.neutrik_connector_nc3fxx-emc
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fxx-emc.png);
}


.neutrik_connector_nc3fmc-c
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fmc-c.png);
}


.neutrik_connector_np3x_b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_np3x_b.png);
}

.neutrik_connector_np3x
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_np3x.png);
}

.amphenol_connector_ax3fb
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/amphenol_connector_ax3fb.png);
}

.amphenol_connector_ax3mb
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/amphenol_connector_ax3mb.png);
}

.switchcraft_connector_aaafz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_aaafz.png);
}

.switchcraft_connector_aaa3mz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_aaa3mz.png);
}

.switchcraft_connector_r3mz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_r3mz.png);
}

.switchcraft_connector_r3fz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_r3fz.png);
}

.switchcraft_connector_aaa3mbauz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_aaa3mbauz.png);
}

.switchcraft_connector_aaa3fbauz
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_aaa3fbauz.png);
}

.switchcraft_connector_190
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_190.png);
}

.switchcraft_connector_297
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_297.png);
}

.switchcraft_connector_236
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_236.png);
}

.neutrik_connector_np3rx_b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_np3rx_b.png);
}

.neutrik_connector_np3rx
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_np3rx.png);
}

.neutrik_connector_nj3fc6_b
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nj3fc6_b.png);
}

.neutrik_connector_nj3fc6
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nj3fc6.png);
}





/* instrument */

.connector_neutrik_np2x_b
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_np2x_b.png); 
 }

.connector_neutrik_np2rx
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_np2rx.png); 
 }

.connector_neutrik_np2x_au
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_np2x_au.png); 
 }

.connector_neutrik_np2rx_au
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_np2rx_au.png); 
 }

.connector_amphenol_tm2p
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_amphenol_tm2p.png); 
 }

.connector_amphenol_tm1pb
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_amphenol_tm1pb.png); 
 }

.connector_amphenol_tm1rbj
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_amphenol_tm1rbj.png); 
 }

.switchcraft_connector_280
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_280.png); 
 }

.switchcraft_connector_226
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_226.png); 
 }

.switchcraft_connector_228
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_228.png); 
 }

.switchcraft_connector_280F
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_280F.png); 
 }

.switchcraft_connector_182
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_182.png); 
 }





 /* speaker */

 .connector_amphenol_ep511p
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_amphenol_ep511p.png); 
 }

.connector_amphenol_ep512
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_amphenol_ep512.png); 
 }

.connector_neutrik_speakOn_NL4FX_grey
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FX_grey.png); 
 }

.connector_neutrik_speakOn_NL4FX_red
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FX_red.png); 
 }

.connector_neutrik_speakOn_NL4FX_yellow
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FX_yellow.png); 
 }

.connector_neutrik_speakOn_NL4FX_green
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FX_green.png); 
 }

.connector_neutrik_speakOn_NL4FX_white
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FX_white.png); 
 }

.connector_neutrik_speakOn_NL4FC
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FC.png); 
 }

.connector_neutrik_speakOn_NL4FRX
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_speakOn_NL4FRX.png); 
 }

.neutrik_female_NLT4FX_BAG
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_female_NLT4FX_BAG.png); 
 }

.neutrik_male_NLT4MX_BAG
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_male_NLT4MX_BAG.png); 
 }

.neutrik_female_NLT8FX_BAG
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_female_NLT8FX_BAG.png); 
 }

.neutrik_male_NLT8MX_BAG
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_male_NLT8MX_BAG.png); 
 }

.neutrik_NL8FC
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_NL8FC.png); 
 }

.lk_connector_lka08fv
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/lk_connector_lka08fv.png); 
 }

.lk_connector_lka08mv
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/lk_connector_lka08mv.png); 
 }


 /* data */

 .connector_neutrik_ne8mx6t
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_ne8mx6t.png); 
 }

.connector_neutrik_ne8mx6tb
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_ne8mx6tb.png); 
 }

.connector_hirose_rj45_cat6a
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_hirose_rj45_cat6a.png); 
 }

.connector_neutrik_nbnc75bdd6
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_nbnc75bdd6.png); 
 }


 .neutrik_connector_nc3mx-top
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mx-top.png); 
 }

  .neutrik_connector_nc3fx-top
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fx-top.png); 
 }

  .neutrik_connector_nc3fxx-wt
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fxx-wt.png); 
 }

   .neutrik_connector_nc3mxx-wt
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mxx-wt.png); 
 }

.neutrik_connector_nc3fx-hd
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fx-hd.png); 
 }

.neutrik_connector_nc3mx-hd
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mx-hd.png); 
 }

.neutrik_connector_nc3fx-hd-b
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3fx-hd-b.png); 
 }

.neutrik_connector_nc3mx-hd-b
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/neutrik_connector_nc3mx-hd-b.png); 
 }




 .switchcraft_connector_35HDBAU
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDBAU.png); 
 }

 .switchcraft_connector_35HDBN
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDBN.png); 
 }

 .switchcraft_connector_35HDNAU
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDNAU.png); 
 }

 .switchcraft_connector_35HDNN
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDNN.png); 
 }

 .switchcraft_connector_35LJNAU
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35LJNAU.png); 
 }


 .connector_neutrik_np2x-wt
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/new_connector_neutrik_np2x-wt.png); 
 }

 .connector_neutrik_np2x
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/new_connector_neutrik_np2x.png); 
 }

 .connector_neutrik_np2rxn
 { 
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/new_connector_neutrik_np2rx.png); 
 }


.connector_hicon_pancake
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/hicon_connector_pancake.png); 
  
}


.connector_neutrik_NBNC75BRU11
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_hd_bnc_NBNC75BRU11.png);  
}

.connector_neutrik_NBNC75BTU11X
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_hd_bnc_NBNC75BTU11X.png);  
}


.connector_clipsal_439SHD
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_clipsal_439SHD.png);  
}

.connector_clipsal_438HD_TR
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_clipsal_438HD_TR.png);  
}

.connector_gen3_pl1ph10
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_gen3_pl1ph10.png);  
}

.connector_gen3_pl1ph10_socket
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_gen3_pl1ph10_socket.png);  
}

.connector_neutrik_powerCON
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_powerCON.png);  
}

.connector_neutrik_powerCON_out
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_neutrik_powerCON_out.png);  
}


.connector_neutrik_powerCON_NC3FCA
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_NC3FCA.png);  
}

.connector_neutrik_powerCON_NC3FCB
{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_NC3FCB.png);  
}

.amphenol_connector_mic_ax3fb {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/amphenol_connector_mic_ax3fb.png) !important;
}

.amphenol_connector_mic_ax3mb {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/amphenol_connector_mic_ax3mb.png) !important;
}

.chooseable.switchcraft_connector_35HDRABAU {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDRABAU.png) !important;
}

.chooseable.switchcraft_connector_35HDRANAU {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDRANAU.png) !important;
}

.chooseable.switchcraft_connector_35HDRANN {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35HDRANN.png) !important;
}

.chooseable.switchcraft_connector_35LJNAU {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/switchcraft_connector_35LJNAU.png) !important;
  
}

.chooseable.syntax_connector_008fv {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/syntax_connector_008fv.png) !important;
}

.chooseable.syntax_connector_008mv {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/syntax_connector_008mv.png) !important;
}

.chooseable.syntax_connector_008mv_noring {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/syntax_connector_008mv_noring.png) !important;
}

.chooseable.syntax_connector_008fv_noring {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/syntax_connector_008fv_noring.png) !important;
}

.chooseable.connector_inline_female_ssx19fv  {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_inline_female_ssx19fv.png) !important;
}

.chooseable.connector_inline_male_ssx19mv  {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_inline_male_ssx19mv.png) !important;
}

.chooseable.connector_straight_plug_4_pin_32a   {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_straight_plug_4_pin_32a.png) !important;
}

.chooseable.connector_extension_4pin_32a   {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_extension_4pin_32a.png) !important;
}

.chooseable.connector_straight_plug_5_pin_32a   {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_straight_plug_5_pin_32a.png) !important;
}

.chooseable.connector_extension_5pin_32a   {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/cdn-dilate-digital/cablesmiths/images/cfgui/connector_extension_5pin_32a.png) !important;
}

#instrument-configurator .cable___sommer_3000021 {
    background-size: 90% !important;
    background-position: 54% top;
}




#image_column .connector.connector_hirose_rj45_cat6a {
    background-size: auto 75% !important;
}

#image_column .connector_neutrik_np2rx_au {
  background-position-x: 0px !important;
  left: 0px !important;
}



#instrument-configurator #cable_side_b .cable {
    left: -3px !important;
}

#instrument-configurator #cable_side_a .cable {
    left: -2px !important;
}


#instrument-configurator #image .cable___canare_gs6_yellow,
#instrument-configurator #image .cable___canare_gs6_red,
#instrument-configurator #image .cable___canare_gs6_blue,
#instrument-configurator #image .cable___canare_gs6_green,
#instrument-configurator #image .cable___canare_gs6_black,
#instrument-configurator #image .cable___canare_gs6_orange,
#instrument-configurator #image .cable___beldon_9778 {
    background-size: 90% auto;
}

#instrument-configurator #image .cable___vandamme_xke_classic  {
    background-size: 112% auto;
}



#image .connector_neutrik_np3x_b {
    background-size: 111%;
    background-position-x: -24px;
}


#image .connector_neutrik_np3x  {
    background-size: 111%;
    background-position-x: -24px;
}

#image .connector_neutrik_np3rx_b   {
    background-size: 111%;
    background-position-x: -24px;
}

#image .connector_neutrik_np3rx   {
    background-size: 111%;
    background-position-x: -24px;
}

#image .cable.beldon_8412 {
 	background-size: 147% auto;
    background-position-y: -43px; 
}


#image .neutrik_top_female_xlr  {
  background-size: 107% !important;
}

#image .neutrik_connector_nc3fxx-wt {
    background-size: 112%;
}

#image .neutrik_connector_nc3mxx-wt {
    background-size: 112%;
}

#image .neutrik_connector_nc3fx-hd {
    background-size: 111%;
}

#image .canare_narrow_profile_grey {
  background-size: 105% !important;
  left: 0px !important;
}

#image .cable___canare_narrow_profile_black 
{
  background-size: 108% !important;
  left: 0px !important;
}

#image .canare_5mm_l-4e5at {
    background-size: 135% !important;
}

#image .cable___gotham_GAC4 {
    background-size: 145% !important;
}

#image .gotham_GAC3 {
    left: -4px !important;
}

#image .cable___sommer_2000311 {
    background-size: 120% !important;
}

#image .sommer_2000451 {
    background-size: 60% !important;
}

#image .sommer_2000001 {
    background-size: 130% !important;
}

#image .cable___vandamme_xke {
    background-size: 140% !important;
    left: 0px !important;
}

#image .cable___mogami_w2549_black {
    background-size: 140% !important;
  left: 0px !important;
}

#image .cable___mogami_w2549_red {
    background-size: 140% !important;
  left: 0px !important;
}

#image .cable___mogami_w2549_green {
    background-size: 140% !important;
  left: 0px !important;
}

#image .cable___mogami_w2549_yellow {
    background-size: 140% !important;
  left: 0px !important;
}
#image .cable___mogami_w2549_blue {
    background-size: 140% !important;
  left: 0px !important;
}



#image .cable___sommer_3000270 {
    background-size: 80% !important;
    background-position-y: 20px;
}

#instrument-configurator .cable {
    left: -3px !important;
    background-size: 80% !important;
}

#instrument-configurator #cable_side_b .cable {
    left: -1px !important;
}

#instrument-configurator #image .cable___vandamme_xke_classic {
    background-size: 101% auto !important;
    background-position: center -22px !important;
}

#image .cable___mogami_w2524 {
    background-size: 101% !important;
    background-position-y: -78px;
}

#image .cable___klotz_KTZ_MY206 {
    background-size: 135% !important;
    left: 0 !important;
    background-position-y: -46px;
}

#image .cable___klotz_KTZ_OT1000 {
    background-size: 125% !important;
    left: 1px !important;
}


#image .cable___klotz_ac110 {
    background-size: 100% !important;
    background-position-y: -114px;
}

#image .cable___klotz_ac104 {
    background-size: 97% !important;
    background-position-y: -40px;
}

#image .cable___klotz_2core_2_5mm {
    background-size: 70% !important;
    background-position-y: -57px;
}

#image .cable___klotz_8core_2_5mm {
    background-size: 117% !important;
    background-position-y: 10px;
}

#image .cable___klotz_8core_4_0mm {
    background-size: 111% !important;
}




#image .cable___syntax_KTZ_MY206 {
    background-size: 135% !important;
    left: 0 !important;
    background-position-y: -46px;
}

#image .cable___syntax_KTZ_OT1000 {
    background-size: 125% !important;
    left: 1px !important;
}


#image .cable___syntax_ac110 {
    background-size: 100% !important;
    background-position-y: -114px;
}

#image .cable___syntax_ac104 {
    background-size: 97% !important;
    background-position-y: -40px;
}

#image .cable___syntax_2core_2_5mm {
    background-size: 70% !important;
    background-position-y: -57px;
}

#image .cable___syntax_8core_2_5mm {
    background-size: 117% !important;
    background-position-y: 10px;
}

#image .cable___syntax_8core_4_0mm {
    background-size: 118% !important;
}


#image .connector___neutrik_NL8FC {
    background-size: 90%;
}

#image .cable___TKDH07RN-FC {
    background-position-y: -70px;
    background-size: 100%;
}

#image .connector___connector_neutrik_powerCON {
    background-size: 70%;
}

#image .connector_neutrik_powerCON_out {
    background-size: 67%;
}

#image .connector_clipsal_438HD_TR {
    background-size: 75%;
}

#image .connector_clipsal_439SHD {
    background-size: 75%;
}

#image .cable___sommer_cat_7_pur {
    background-size: 90% !important;
    background-position-y: -160px;
}

#image .cable___belden_1694F_bnc {
    background-size: 138% !important;
    left: -2px;
    background-position-y: -390px;
}

#image .cable___belden_4694r_bnc {
    left: -2px;
}

#image .cable___power_cable_3g_15mm 
{
    background-position: center 10px;
    background-size: 92% auto;
}

#image .cable___power_cable_3g_25mm 
{
    background-position: center 10px;
    background-size: 108% auto;
}

#image .connector___connector_gen3_pl1ph10_socket,
#image .connector___connector_gen3_pl1ph10  
{
  background-size: 90% 90%;
}

.connector___syntax_connector_008mv_noring,
.connector___syntax_connector_008fv_noring 
{
    background-size: 100% !important;
}

#image .cable___mogami_w2524 {
    background-size: 101% !important;
    background-position-y: -14px;
}

#image .cable___beldon_1800F {
    background-position-y: -45px;
}

#image .switchcraft_connector_aaa3fbauz {
    background-position: -1px bottom !important;
}

#image .braided_sleeve_uptown_green {
    background-position: center -60px !important;
}

#image .braided_sleeve_orange_spyder {
    background-position: center -82px !important;
}

#image .braided_sleeve_uptown_purple {
    background-position: center -50px !important;
}

#image .braided_sleeve_uptown_yellow {
    background-position: center -70px;
}

#image .canare_6mm_red,
#image .canare_6mm_green,
#image .canare_6mm_blue, 
#image .canare_6mm_orange,
#image .canare_6mm_purple,
#image .canare_6mm_grey,
#image .canare_6mm_gray,
#image .canare_6mm_white,
#image .canare_6mm_black,
#image .canare_6mm_yellow
{
    background-position: center -52px;
}


.prod__infos
{
 	background: none;
  border-radius: 0;
  padding: 0;
  width: auto;
  margin-left: 0;
}

@media only screen and (max-width: 1240px) {
  #image .connector_neutrik_np3rx_b,
  #image .connector_neutrik_np3x_b,
  #image .connector_neutrik_np3rx,
  #image .connector_neutrik_np3x {
    background-size: 100%;
    background-position-x: center;
  }
  
  #microphone-configurator #image .cable {
    background-size: 136% auto;
  }
}