<style type="text/css">

  span.true {
   color: green; 
  }
  
  span.false {
   color: red; 
  }
  
  
</style>



<div class="page-width" id="searchform">
  
  <input type="text" id="search" placeholder="Search..." />
</div>
<div class="page-width" id="pdata-content" style="font-family: 'Lucida Console', Monaco, monospace;font-size: 12px;">
  {{ page.content }}
</div>