<!-- Custom Config : Guitar Cables -->
<div id="main">
    <div id="configurator">

    <!-- OPTION: Cable -->
    <div id="image_column" class="col col30">
      <div id="image">
        <div id="cable_side_a">

          <div class="cable_block" id="cable_side_a_cable">
          </div>

          

          <div class="braided_sleeve" id="cable_side_a_braided_sleeve">
          </div>

          <div class="custom_sleeve" id="cable_side_a_sleeve">
          </div>

          <div class="connector" id="cable_side_a_connector">
          </div>

          
          

        </div>
        <div id="cable_side_b">
          
          <div class="cable_block" id="cable_side_b_cable">
          </div>

          

          <div class="braided_sleeve" id="cable_side_b_braided_sleeve">
          </div>

          <div class="custom_sleeve" id="cable_side_b_sleeve">
          </div>

          <div class="connector" id="cable_side_b_connector">
          </div>



        </div>
      </div>
      {% include "configurator_tech_specs" %}
    </div>

    <div id="options" class="col col70">

      <h1>Build your <em>Instrument Cable</em></h1>

      
      
      
      
      
      <!-- OPTION: Cable -->
      <div class="group open" id="cable">
        <div class="group_header">
          <h2>Cable</h2>
          <span class="group_price price">$1.80</span>
          <span class="arrow"></span>
        </div>
        <div class="group_inner">
          <div class="option option_select independent" id="select_cable_brand">
            <h3>Choose Brand</h3>
            <div class="input input_select">
              <ul class="input_select_ul" data-hide="#select_cable_types .input_select_ul, #select_cable_color, #select_cable_length" data-show="#select_cable_types" data-deselect="#select_cable_types, #select_cable_color, #select_cable_length">
                <li data-url-value="beldon" data-show="#cable_types_beldon"><a href="#beldon"><span>Belden</span></a></li>
                <li data-url-value="canare" data-show="#cable_types_canare"><a href="#canare"><span>Canare</span></a></li>
                <li data-url-value="gotham" data-show="#cable_types_gotham"><a href="#gotham"><span>Gotham</span></a></li>
                <li data-url-value="sommer" data-show="#cable_types_sommer"><a href="#sommer"><span>Sommer</span></a></li>
                <li data-url-value="vandamme" data-show="#cable_types_vandamme"><a href="#vandamme"><span>Van Damme</span></a></li>
                <li data-url-value="mogami" data-show="#cable_types_mogami"><a href="#mogami"><span>Mogami</span></a></li>
                <li data-url-value="klotz" data-show="#cable_types_klotz"><a href="#klotz"><span>Klotz</span></a></li>
              </ul>
            </div>
          </div>


          <div class="option option_select dependent" id="select_cable_types" data-key="cable_type">
            <h3>Cable Type</h3>
            <div class="input input_select input_select_subtitles"  data-hide="#select_cable_color"  data-show="#select_cable_length"  data-deselect="#select_cable_color">
              <ul class="input_select_ul" id="cable_types_beldon">
                <li data-url-value="beldon_9778" data-multiply-by-length="true" data-variant-id="29760724303958"  class="chooseable" data-chooseable="beldon_9778"><a href="#beldon_9778"><span>Instrument</span><em>9778</em></a></li>
              </ul>

              <ul class="input_select_ul" id="cable_types_canare" data-deselect="#select_cable_color">
                <li data-url-value="canare_gs6" data-show="#select_cable_color, #select_cable_colours_canare_gs6" data-hide="#select_cable_length"><a href="#canare_gs6"><span>Instrument</span><em>GS6</em></a></li>
              </ul>

              <ul class="input_select_ul" id="cable_types_gotham">
                <li data-url-value="gotham_gac1" data-multiply-by-length="true" data-variant-id="19823158198358" class="chooseable" data-chooseable="gotham_gac1"><a href="#gotham_gac1"><span>GAC1</span><em>Ultra Pro</em></a></li>
              </ul>

              <ul class="input_select_ul" id="cable_types_sommer">

                <li data-url-value="sommer_30000270" data-multiply-by-length="true" data-variant-id="27747000418390" class="chooseable" data-chooseable="sommer_3000270"><a href="#sommer_3000270"><span>Tricone LLX</span><em>300-0270</em></a></li>

<!--                 <li data-url-value="sommer_3000021" data-multiply-by-length="true" data-variant-id="27747000418390" class="chooseable" data-chooseable="sommer_3000021"><a href="#sommer_3000021"><span>MKII</span><em>300-0021</em></a></li> -->

                <li data-url-value="sommer_3000071" data-multiply-by-length="true" data-variant-id="32303751987286" class="chooseable" data-chooseable="sommer_3000071"><a href="#sommer_3000071"><span>SC Spirit</span><em>300-0071</em></a></li>

                <li data-url-value="sommer_sc_llx" data-multiply-by-length="true" data-variant-id="29760422215766" class="chooseable" data-chooseable="sommer_sc_llx"><a href="#sommer_sc_llx"><span>SC Spirit</span><em>LLX LOW LOSS</em></a></li>

                <!-- <li data-url-value="sommer_3200101" data-variant-id="27746806366294" class="chooseable" data-chooseable="sommer_3200101"><a href="#sommer_3200101"><span>Stereo SC-Onyx MKII</span><em>320-0101</em></a></li> -->

                

              </ul>

              <ul class="input_select_ul" id="cable_types_vandamme">
                <li data-url-value="vandamme_xke_classic" data-multiply-by-length="true" data-variant-id="27747560849494" class="chooseable" data-chooseable="vandamme_xke_classic"><a href="#vandamme_xke"><span>Classic XKE</span><em>Tour Grade</em></a></li>
              </ul>

              <ul class="input_select_ul" id="cable_types_mogami">
                <li data-url-value="mogami_w2524" data-multiply-by-length="true" data-variant-id="27746601992278" data-chooseable="mogami_w2524"  class="chooseable"><a href="#mogami_w2524"><span>W2524</span><em>Instrument</em></a></li>
              </ul>

              <ul class="input_select_ul" id="cable_types_klotz">
                <li data-url-value="klotz_ac110" data-multiply-by-length="true" data-variant-id="27721268822102" class="chooseable" data-chooseable="klotz_ac110"><a href="#klotz_ac110"><span>High Fidelity</span><em>AC110</em></a></li>
                <li data-url-value="klotz_ac104" data-multiply-by-length="true" data-variant-id="33190176292950" class="chooseable" data-chooseable="klotz_ac104"><a href="#klotz_ac104"><span>Instrument</span><em>AC104</em></a></li>
              </ul>


            </div>
          </div>

          <div class="option option_select dependent" id="select_cable_color"  data-key="cable_colour">
            <h3>Cable Colour</h3>
            <div class="input input_select input_colours">
              <ul class="input_select_ul selected" data-show="#select_cable_length" id="select_cable_colours_canare_gs6">
                <li data-multiply-by-length="true" data-variant-id="19749360828502" data-colour="#000000" class="chooseable" data-chooseable="canare_gs6_black"><a href="#colour_black"><i class="fas fa-check"></i></a></li>

                <li data-multiply-by-length="true" data-variant-id="19749370200150" data-colour="#c4132a" class="chooseable" data-chooseable="canare_gs6_red"><a href="#colour_red"><i class="fas fa-check"></i></a></li>

                <li data-multiply-by-length="true" data-variant-id="19749367447638" data-colour="#fa7b00" class="chooseable" data-chooseable="canare_gs6_orange"><a href="#colour_orange"><i class="fas fa-check"></i></a></li>

                <li data-multiply-by-length="true" data-variant-id="19749374066774" data-colour="#f4cb13" class="chooseable" data-chooseable="canare_gs6_yellow"><a href="#colour_yellow"><i class="fas fa-check"></i></a></li>

                <li data-multiply-by-length="true" data-variant-id="19749364858966" data-colour="#3d9451" class="chooseable" data-chooseable="canare_gs6_green"><a href="#colour_green"><i class="fas fa-check"></i></a></li>

                <li data-multiply-by-length="true" data-variant-id="19749362171990" data-colour="#4886cf" class="chooseable" data-chooseable="canare_gs6_blue"><a href="#colour_blue"><i class="fas fa-check"></i></a></li>
              </ul>



            </div>
          </div>

          <div class="option option_text dependent" id="select_cable_length"  data-key="cable_length">
            <h3>Cable Length</h3>
            <div class="input input_text input_text_dial">
              <div class="input_box">
                <button type="button" class="minus"><span><i class="fas fa-minus"></i></span></button>
                <input type="text" value="10 m" data-number="10" />
                <button type="button" class="plus"><span><i class="fas fa-plus"></i></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF OPTION: Cable -->


      
      
      <!-- OPTION: Connector A -->
      <div class="group closed connector_group" id="connectorA">
        <div class="group_header">
          <h2>Connector <em>A</em></h2>
          <span class="group_price price"></span>
          <span class="arrow"></span>
        </div>
        <div class="group_inner">
          <div class="option option_select" data-show="#select_connectorA_connector" data-hide="#select_connectorA_connector .input_select_ul, #select_connectorA_bootColor" data-deselect="#select_connectorA_connector" data-key="cable_brand" id="select_connectorA_brand">
            <h3>Choose Brand</h3>
            <div class="input input_select">
              <ul class="input_select_ul">
                <li data-url-value="amphenol" data-show="#select_connectorA_connector_amphenol"><a href="#amphenol"><span>Amphenol</span></a></li>
                <li data-url-value="neutrik" data-show="#select_connectorA_connector_neutrik"><a href="#neutrik"><span>Neutrik</span></a></li>
                <li data-url-value="switchcraft" data-show="#select_connectorA_connector_switchcraft"><a href="#switchcraft"><span>Switchcraft</span></a></li>
                <li data-url-value="hicon" data-show="#select_connectorA_connector_hicon"><a href="#hicon"><span>Hicon</span></a></li>

              </ul>
            </div>
          </div>
          
          <div class="option option_select dependent" id="select_connectorA_connector" data-hide="#select_connectorA_bootColor" data-key="connectorA">
            <h3>Choose Connector</h3>
            <div class="input input_select input_select_subtitles input_select_images input_select_products">


              <!-- NEUTRIK CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorA_connector_neutrik" data-show="#select_connectorA_bootColor, #select_connectorA_bootColor_neutrik" data-postcallback="neutrik_connectorA_postcallback();">
                <li data-variant-id="19524188930134"  class="chooseable connector_neutrik_np2x_b" data-chooseable="connector_neutrik_np2x_b"><a href="#connector_neutrik_np2x_b"><span>Mono 1/4" Plug</span><em>NP2X-B-D</em></a></li>

                <li data-variant-id="19524188733526"  class="chooseable connector_neutrik_np2rx" data-chooseable="connector_neutrik_np2rx"><a href="#connector_neutrik_np2rx"><span>Right Angle 1/4" Plug</span><em>NP2RX-B</em></a></li>

                <li data-variant-id="19769230753878"  class="chooseable connector_neutrik_np2x-wt" data-chooseable="connector_neutrik_np2x-wt" data-hide="#select_connectorA_bootColor, #select_connectorA_bootColor_neutrik"><a href="#connector_neutrik_np2x-wt"><span>Mono 1/4" Plug</span><em>NP2X-WT</em></a></li>

                <li data-variant-id="19769435619414"  class="chooseable connector_neutrik_np2x" data-chooseable="connector_neutrik_np2x" data-hide="#select_connectorA_bootColor, #select_connectorA_bootColor_neutrik"><a href="#connector_neutrik_np2x"><span>Mono 1/4" Plug</span><em>NP2X</em></a></li>

                <li data-variant-id="19769448431702"  class="chooseable connector_neutrik_np2rxn" data-chooseable="connector_neutrik_np2rxn" data-hide="#select_connectorA_bootColor, #select_connectorA_bootColor_neutrik"><a href="#connector_neutrik_np2rxn"><span>Right Angle 1/4" Plug</span><em>NP2RX</em></a></li>

                <li data-variant-id="19524193747030"  class="chooseable connector_neutrik_np2x_au one_side_only one_side_only_a" data-chooseable="connector_neutrik_np2x_au"><a href="#connector_neutrik_np2x_au"><span>Mono 1/4" Silent Plug</span><em>NP2X-AU-S</em></a></li>

                <li data-variant-id="19524193386582"  class="chooseable connector_neutrik_np2rx_au one_side_only one_side_only_a" data-chooseable="connector_neutrik_np2rx_au"><a href="#neutrik_14"><span>Right Angle 1/4" Silent Plug</span><em>NP2RX-AU-S</em></a></li>

              </ul>
              <!-- END OF NEUTRIK CONNECTORS -->

      
              <!-- HICON CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorA_connector_hicon">
                <li data-variant-id="19524185325654" class="chooseable connector_hicon_pancake" data-chooseable="connector_hicon_pancake"><a href="#female_xlr"><span>1/4" Pancake Plug</span><em>HI-J63MA05</em></a></li>

              </ul>
              <!-- END AMPHENOL CONNECTORS -->
              

              <!-- AMPHENOL CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorA_connector_amphenol">
                <li data-variant-id="19524091084886" class="chooseable connector_amphenol_tm2p" data-chooseable="connector_amphenol_tm2p"><a href="#female_xlr"><span>Mono 1/4" Plug</span><em>TM2PB</em></a></li>
                <li data-variant-id="19524163436630" class="chooseable connector_amphenol_tm1pb one_side_only one_side_only_a" data-chooseable="connector_amphenol_tm1pb"><a href="#male_xlr"><span>Mono 1/4" Silent Plug</span><em>TM1PB</em></a></li>
                <li data-variant-id="19524163141718" class="chooseable connector_amphenol_tm1rbj one_side_only one_side_only_a" data-chooseable="connector_amphenol_tm1rbj"><a href="#male_xlr"><span>Right Angle Silent 1/4" Plug</span><em>TM1RBJ</em></a></li>

              </ul>
              <!-- END AMPHENOL CONNECTORS -->



              

              <!-- SWITCHCRAFT CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorA_connector_switchcraft">
                <li data-variant-id="19524176969814"  class="chooseable switchcraft_connector_280" data-chooseable="switchcraft_connector_280"><a href="#male_xlr"><span>Mono 1/4" Plug</span><em>280</em></a></li>

                <li data-variant-id="19524176871510"  class="chooseable switchcraft_connector_226" data-chooseable="switchcraft_connector_226"><a href="#male_xlr"><span>Right Angle 1/4" Plug</span><em>226</em></a></li>

                <li data-variant-id="19524185686102"  class="chooseable switchcraft_connector_228" data-chooseable="switchcraft_connector_228"><a href="#male_xlr"><span>1/4" Pancake Plug</span><em>228</em></a></li>

<!--                 <li data-variant-id="19524177461334"  class="chooseable switchcraft_connector_280F" data-chooseable="switchcraft_connector_280F"><a href="#male_xlr"><span>Mono 1/4" Plug</span><em>280F</em></a></li>
 -->
                <li data-variant-id="19524178214998"  class="chooseable switchcraft_connector_182 one_side_only one_side_only_a" data-chooseable="switchcraft_connector_182"><a href="#unisex_xlr"><span>Mono 1/4" Silent Plug</span><em>182</em></a></li>
              </ul>
              <!-- END OF SWITCHCRAFT CONNECTORS -->

            </div>
          </div>
          
          <div class="option option_select dependent" id="select_connectorA_bootColor" data-key="connectorA_boot_color">
            <h3>Boot Colour</h3>
            <div class="input input_select input_colours">
              <ul class="input_select_ul" id="select_connectorA_bootColor_neutrik">
                <li data-variant-id="19524192600150x"  class="chooseable" data-chooseable="neutrik_bootColor_black" data-colour="#000000"><a href="#colour_black"><i class="fas fa-check"></i></a></li>
               	<li data-variant-id="19524192600150"  class="chooseable" data-chooseable="neutrik_bootColor_brown" data-colour="#906b4d"><a href="#colour_brown"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524192632918"  class="chooseable" data-chooseable="neutrik_bootColor_red" data-colour="#c4132a"><a href="#colour_red"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193419350"  class="chooseable" data-chooseable="neutrik_bootColor_orange" data-colour="#fa7b00"><a href="#colour_orange"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193452118"  class="chooseable" data-chooseable="neutrik_bootColor_yellow" data-colour="#f4cb13"><a href="#colour_yellow"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193484886"  class="chooseable" data-chooseable="neutrik_bootColor_green" data-colour="#3d9451"><a href="#colour_green"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193517654"  class="chooseable" data-chooseable="neutrik_bootColor_blue" data-colour="#4886cf"><a href="#colour_blue"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193550422"  class="chooseable" data-chooseable="neutrik_bootColor_purple" data-colour="#9452b7"><a href="#colour_purple"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193583190"  class="chooseable" data-chooseable="neutrik_bootColor_grey" data-colour="#c7c5c0"><a href="#colour_grey"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193615958"  class="chooseable border" data-chooseable="neutrik_bootColor_white" data-colour="#ffffff" data-border="#c7c5c0"><a href="#colour_white"><i class="fas fa-check"></i></a></li>
          
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF OPTION: Connector A -->

     
      
      
      <!-- OPTION: Connector B -->
      <div class="group closed connector_group" id="connectorB">
        <div class="group_header">
          <h2>Connector <em>B</em></h2>
          <span class="group_price price"></span>
          <span class="arrow"></span>
        </div>
        <div class="group_inner">
          <div class="option option_select" data-show="#select_connectorB_connector" data-hide="#select_connectorB_connector .input_select_ul, #select_connectorB_bootColor" data-deselect="#select_connectorB_connector" data-key="cable_brand" id="select_connectorB_brand">
            <h3>Choose Brand</h3>
            <div class="input input_select">
              <ul class="input_select_ul">
                <li data-url-value="amphenol" data-show="#select_connectorB_connector_amphenol"><a href="#amphenol"><span>Amphenol</span></a></li>
                <li data-url-value="neutrik" data-show="#select_connectorB_connector_neutrik"><a href="#neutrik"><span>Neutrik</span></a></li>
                <li data-url-value="switchcraft" data-show="#select_connectorB_connector_switchcraft"><a href="#switchcraft"><span>Switchcraft</span></a></li>
                <li data-url-value="hicon" data-show="#select_connectorB_connector_hicon"><a href="#hicon"><span>Hicon</span></a></li>

              </ul>
            </div>
          </div>
          
          <div class="option option_select dependent" id="select_connectorB_connector" data-hide="#select_connectorB_bootColor" data-key="connectorB">
            <h3>Choose Connector</h3>
            <div class="input input_select input_select_subtitles input_select_images input_select_products">


              <!-- NEUTRIK CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorB_connector_neutrik" data-show="#select_connectorB_bootColor, #select_connectorB_bootColor_neutrik" data-postcallback="neutrik_connectorB_postcallback();">
                <li data-variant-id="19524188930134"  class="chooseable connector_neutrik_np2x_b" data-chooseable="connector_neutrik_np2x_b"><a href="#connector_neutrik_np2x_b"><span>Mono 1/4" Plug</span><em>NP2X-B-D</em></a></li>

                <li data-variant-id="19524188733526"  class="chooseable connector_neutrik_np2rx" data-chooseable="connector_neutrik_np2rx"><a href="#connector_neutrik_np2rx"><span>Right Angle 1/4" Plug</span><em>NP2RX-B</em></a></li>

                <li data-variant-id="19769230753878"  class="chooseable connector_neutrik_np2x-wt" data-chooseable="connector_neutrik_np2x-wt" data-hide="#select_connectorB_bootColor, #select_connectorB_bootColor_neutrik"><a href="#connector_neutrik_np2x-wt"><span>Mono 1/4" Plug</span><em>NP2X-WT</em></a></li>

                <li data-variant-id="19769435619414"  class="chooseable connector_neutrik_np2x" data-chooseable="connector_neutrik_np2x" data-hide="#select_connectorB_bootColor, #select_connectorB_bootColor_neutrik"><a href="#connector_neutrik_np2x"><span>Mono 1/4" Plug</span><em>NP2X</em></a></li>

                <li data-variant-id="19769448431702"  class="chooseable connector_neutrik_np2rxn" data-chooseable="connector_neutrik_np2rxn" data-hide="#select_connectorB_bootColor, #select_connectorB_bootColor_neutrik"><a href="#connector_neutrik_np2rxn"><span>Right Angle 1/4" Plug</span><em>NP2RX</em></a></li>

                <li data-variant-id="19524193747030"  class="chooseable connector_neutrik_np2x_au one_side_only one_side_only_b" data-chooseable="connector_neutrik_np2x_au"><a href="#connector_neutrik_np2x_au"><span>Mono 1/4" Silent Plug</span><em>NP2X-AU-S</em></a></li>

                <li data-variant-id="19524193386582"  class="chooseable connector_neutrik_np2rx_au one_side_only one_side_only_b" data-chooseable="connector_neutrik_np2rx_au"><a href="#neutrik_14"><span>Right Angle 1/4" Silent Plug</span><em>NP2RX-AU-S</em></a></li>

              </ul>
              <!-- END OF NEUTRIK CONNECTORS -->

      
              <!-- HICON CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorB_connector_hicon">
                <li data-variant-id="19524185325654" class="chooseable connector_hicon_pancake" data-chooseable="connector_hicon_pancake"><a href="#female_xlr"><span>1/4" Pancake Plug</span><em>HI-J63MA05</em></a></li>

              </ul>
              <!-- END AMPHENOL CONNECTORS -->
              

              <!-- AMPHENOL CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorB_connector_amphenol">
                <li data-variant-id="19524091084886" class="chooseable connector_amphenol_tm2p" data-chooseable="connector_amphenol_tm2p"><a href="#female_xlr"><span>Mono 1/4" Plug</span><em>TM2PB</em></a></li>
                <li data-variant-id="19524163436630" class="chooseable connector_amphenol_tm1pb one_side_only one_side_only_b" data-chooseable="connector_amphenol_tm1pb"><a href="#male_xlr"><span>Mono 1/4" Silent Plug</span><em>TM1PB</em></a></li>
                <li data-variant-id="19524163141718" class="chooseable connector_amphenol_tm1rbj one_side_only one_side_only_b" data-chooseable="connector_amphenol_tm1rbj"><a href="#male_xlr"><span>Right Angle Silent 1/4" Plug</span><em>TM1RBJ</em></a></li>

              </ul>
              <!-- END AMPHENOL CONNECTORS -->



              

              <!-- SWITCHCRAFT CONNECTORS -->
              <ul class="input_select_ul" id="select_connectorB_connector_switchcraft">
                <li data-variant-id="19524178247766"  class="chooseable switchcraft_connector_280" data-chooseable="switchcraft_connector_280"><a href="#male_xlr"><span>Mono 1/4" Plug</span><em>280</em></a></li>

                <li data-variant-id="19524176871510"  class="chooseable switchcraft_connector_226" data-chooseable="switchcraft_connector_226"><a href="#male_xlr"><span>Right Angle 1/4" Plug</span><em>226</em></a></li>

                <li data-variant-id="19524185686102"  class="chooseable switchcraft_connector_228" data-chooseable="switchcraft_connector_228"><a href="#male_xlr"><span>1/4" Pancake Plug</span><em>228</em></a></li>

<!--                 <li data-variant-id="19524177461334"  class="chooseable switchcraft_connector_280F" data-chooseable="switchcraft_connector_280F"><a href="#male_xlr"><span>Mono 1/4" Plug</span><em>280F</em></a></li> -->

                <li data-variant-id="19524178214998"  class="chooseable switchcraft_connector_182 one_side_only one_side_only_b" data-chooseable="switchcraft_connector_182"><a href="#unisex_xlr"><span>Mono 1/4" Silent Plug</span><em>182</em></a></li>
              </ul>
              <!-- END OF SWITCHCRAFT CONNECTORS -->

            </div>
          </div>
          
          <div class="option option_select dependent" id="select_connectorB_bootColor" data-key="connectorB_boot_color">
            <h3>Boot Colour</h3>
            <div class="input input_select input_colours">
              <ul class="input_select_ul" id="select_connectorB_bootColor_neutrik">
                <li data-variant-id="19524192600150x"  class="chooseable" data-chooseable="neutrik_bootColor_black" data-colour="#000000"><a href="#colour_black"><i class="fas fa-check"></i></a></li>
               <li data-variant-id="19524192600150"  class="chooseable" data-chooseable="neutrik_bootColor_brown" data-colour="#906b4d"><a href="#colour_brown"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524192632918"  class="chooseable" data-chooseable="neutrik_bootColor_red" data-colour="#c4132a"><a href="#colour_red"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193419350"  class="chooseable" data-chooseable="neutrik_bootColor_orange" data-colour="#fa7b00"><a href="#colour_orange"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193452118"  class="chooseable" data-chooseable="neutrik_bootColor_yellow" data-colour="#f4cb13"><a href="#colour_yellow"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193484886"  class="chooseable" data-chooseable="neutrik_bootColor_green" data-colour="#3d9451"><a href="#colour_green"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193517654"  class="chooseable" data-chooseable="neutrik_bootColor_blue" data-colour="#4886cf"><a href="#colour_blue"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193550422"  class="chooseable" data-chooseable="neutrik_bootColor_purple" data-colour="#9452b7"><a href="#colour_purple"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193583190"  class="chooseable" data-chooseable="neutrik_bootColor_grey" data-colour="#c7c5c0"><a href="#colour_grey"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524193615958"  class="chooseable border" data-chooseable="neutrik_bootColor_white" data-colour="#ffffff" data-border="#c7c5c0"><a href="#colour_white"><i class="fas fa-check"></i></a></li>
          
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF OPTION: Connector B -->

	{% include "custom_logo_text" %}

      <!-- OPTION: Sleeve & Cable Tie -->
      <div class="group closed" id="sleeve">
        <div class="group_header">
          <h2>Sleeve <em class="amp">&amp;</em> Cable Tie</h2>
          <span class="group_price price"><em>(optional)</em></span>
          <span class="arrow"></span>
        </div>
      

        <div class="group_inner">
           
          {% include "techflex" %}
          
          <div class="option option_select">
            <h3>Rip-Lock CableWrap Colour (1" x 6.5")</h3>
            <div class="input input_select input_colours">
              <ul class="input_select_ul" id="input_select_cable_tie">
                <li class="chooseable" data-chooseable="value" data-colour="cancel"><a href="#no_sleeve"><span>No Cable Tie</span></a></li>
          
                <li data-variant-id="19524172677206"  class="chooseable" data-chooseable="black" data-colour="#000000"><a href="#colour_black"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173987926"  class="chooseable" data-chooseable="brown" data-colour="#906b4d"><a href="#colour_brown"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173955158"  class="chooseable" data-chooseable="red" data-colour="#c4132a"><a href="#colour_red"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524172742742"  class="chooseable" data-chooseable="orange" data-colour="#fa7b00"><a href="#colour_orange"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173856854"  class="chooseable" data-chooseable="yellow" data-colour="#f4cb13"><a href="#colour_yellow"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173922390"  class="chooseable" data-chooseable="green" data-colour="#3d9451"><a href="#colour_green"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173824086"  class="chooseable" data-chooseable="blue" data-colour="#4886cf"><a href="#colour_blue"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524172709974"  class="chooseable" data-chooseable="purple" data-colour="#9452b7"><a href="#colour_purple"><i class="fas fa-check"></i></a></li>
                <li data-variant-id="19524173889622"  class="chooseable" data-chooseable="grey" data-colour="#c7c5c0"><a href="#colour_grey"><i class="fas fa-check"></i></a></li>


                <li data-variant-id="19524174020694"  class="chooseable border" data-chooseable="white" data-colour="#ffffff" data-border="#c7c5c0"><a href="#colour_white"><i class="fas fa-check"></i></a></li>



              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF OPTION: Sleeve & Cable Tie -->

      <!-- CART BUTTON & TOTAL -->
      <div id="cart_buttons">
        <h5>Total</h5>
        <div id="total_price" class="price"><span class="currency_symbol">$</span><span class="price_text">0.00</span></div>
        <button type="button" id="addToCart"><span class="text">Add To Cart</span></button>

        <div class="button_spinner" id="addToCartSpinner" style="display:none;">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <div id="cart_status_message" style="display:none;">

        </div>



      </div>
      <!-- END OF CART BUTTON & TOTAL -->



    </div>
    </div>
  </div>